[submodule "all"]
	path = all
	url = https://github.com/keelim/all.git
	branch = develop
[submodule "android-support"]
	path = android-support
	url = https://github.com/keelim/android-support
	branch = main
[submodule "Keelim-Knowledge-Vault"]
	path = Keelim-Knowledge-Vault
	url = https://github.com/keelim/Keelim-Knowledge-Vault.git
	branch = main
[submodule "keelim-plugin"]
	path = keelim-plugin
	url = https://github.com/keelim/keelim-plugin.git
	branch = main
[submodule "keelim-vercel"]
	path = keelim-vercel
	url = https://github.com/keelim/keelim-vercel.git
	branch = main
[submodule "toto"]
	path = toto
	url = https://github.com/keelim/toto.git
	branch = main
